<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Tiny URL
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" style="margin-top: 5rem; min-width: 20rem;">
        <form id="myURL">
            <div class="form-group">
                <label for="inputURL">Long URL</label>
                <input type="text" class="form-control" name="inputURL" id="inputURL" placeholder="Enter long URL">
                <small id="url" class="form-text text-muted">Please enter your url.</small>
            </div>
            <button type="submit" class="btn btn-primary" id="sendURL">Submit</button>
        </form>

        <script>
            $("#myURL").submit(function (event) {
                event.preventDefault();
                submitForm();
            });
            let submitForm = function () {
                let path = 'http://localhost:3000/';
                $.ajax({
                    url: path,
                    data: $('#myURL').serialize(),
                    type: "POST",
                    success: function (msg) {
                        $('#longURL').attr('href', msg.longURL).text(msg.longURL);
                        $('#shortURL').attr('href', document.URL + msg.shortURL).text(document.URL + msg.shortURL).text();
                        $('.result').show();
                    }
                });
            }
        </script>

        <div class="container" style="margin-top: 2rem;">
            <div class="result" style="display:none;">
                <p>LONG URL: <a id="longURL"></a></p>
                <p>SHORT URL: <a id="shortURL"></a></p>
            </div>
        </div>
    </div>
</body>

</html>